<h1><%= @user.email %>'s Profile</h1>

<h2>Events Created:</h2>

<% if @user.created_events.any? %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li>
        <strong><%= link_to event.title, event_path(event) %></strong>
        <br>
        Location: <%= event.location %>
        <br>
        Date: <%= event.date.strftime("%B %d, %Y at %I:%M %p") if event.date %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user hasn't created any events yet.</p>
<% end %>

<h2>Events Attending:</h2>

<% if @user.attended_events.any? %>
  <h3>Upcoming Events</h3>
  <% @user.attended_events.select { |e| e.date && e.date >= Time.current }.each do |event| %>
    <p><%= link_to event.title, event_path(event) %> - <%= event.date.strftime("%B %d, %Y at %I:%M %p") %></p>
  <% end %>

  <h3>Past Events</h3>
  <% @user.attended_events.select { |e| e.date && e.date < Time.current }.each do |event| %>
    <p><%= link_to event.title, event_path(event) %> - <%= event.date.strftime("%B %d, %Y at %I:%M %p") %></p>
  <% end %>
<% else %>
  <p>This user isn't attending any events yet.</p>
<% end %>